## 42. Trapping Rain Water

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining. 

**Example:**

Input: [0, 1, 0, 2, 1, 0, 1, 3, 2, 1, 2, 1]

Output: 6

## 7. Reverse Integer

Given a 32-bit singed integer, reverse digits of an integer. 

**Example 1:**

Input: 123

Output: 321

**Example 2:** 

Input: -123

Output: -321

**Example 3:**

Input: 120

Output: 21

In [2]:
321%10

1

In [3]:
321//10

32

In [4]:
32//10

3

In [5]:
3//10

0

In [14]:
x = 321
i = 0
while x and i < 5:
    print(x, i)
    x //= 10
    i += 1

321 0
32 1
3 2

In [26]:
def reverse(x: int) -> int:
    
    def reverse_po(x: int) -> int:
        ans = 0
        while x:
            ans = ans*10 + (x%10)
            x //= 10
        return ans 
    
    if x == 0:
        return 0 
    if x> 0:
        return reverse_po(x)
    if x<0:
        return -reverse_po(-x)

In [27]:
reverse(321)

123

In [28]:
reverse(-123)

-321

In [29]:
reverse(120)

21

## 8. String to Integer (atoi)

Implement atoi which converts a string to an integer. 

The function first discards as many whitespace characters as necessary until the first non-whitespace character is found. Then, starting from this character, takes an optional initial plus or minus sign followed by as many numerical digits as possible, and interprets them as a numerical value. 

The string can obtain additional characters after those that from the integral number, which are ignored and have no effect on the behavior of this function. 

If the first sequence of non-whitespace characters in str is not a valid integral number, or if no such sequence exists because either str is emoty or it contains only whitespace characters, no conversion is performed. 

If no valid conversion could be performed, a zero value is returned. 

**Note:**

* Only the space character ' ' is considered as whitespace character. 

* Assume we are dealing with an environment which could only store integers within the 32-bit singed integer range: [-2^32, 2^32-1]. If the numerical value is out of the rang of representable values, INT_MAX (2^31 -1) or INT_MIN (-2^31) is returned.

In [37]:
def myAtoi(str:str) -> int:
    valid_set = {'0','1','2','3','4','5','6','7','8','9','-'}
    ws = ' '
    ans = 0
    neg = False 
    for s in str:
        if s == ws:
            continue
        elif s != ws and s not in valid_set:
            return 0 
        elif s in valid_set:
            if s == '-':
                neg = True
            else:
                ans = ans*10 + int(s)
    return ans if not neg else -ans

In [33]:
string = "     -42"

myAtoi(string)

-42

In [34]:
string = '42'

myAtoi(string)

42

In [35]:
string = "words and 987"

myAtoi(string)

0

In [43]:
string = "4193 with words"

myAtoi(string)

0

In [46]:
def myAtoi2(str: str) -> int:
    str = str.strip()
    res = 0
    sign = 1
    i = 0 
    
    if len(str) <2:
        return str if str.isdigit() else res
    
    if str[0] =='-' or str[0] == '+':
        sign = -1 if str[0] == '-' else 1
        i += 1
        
    if not str[i].isdigit():
        return res
    
    for j in range(i,len(str)):
        if not str[j].isdigit():
            break    
        res = res * 10 + (ord(str[j]) - ord('0'))
        
    res = -2147483648 if sign*res < -2147483648 else sign*res
    return 2147483647 if res > 2147483647  else res

In [47]:
myAtoi2(string)

4193

## 65. Valid Number 

Validate if a given string an be interpreted as a decimal number. 

For examples:

"0" => true

"0.1" => true

"abc" => false

"1 a" => false 

"2e10" => true 

"-90e3" => true 

"1e" => false 

"e3" => false 

"6e-1" => true 

"99e2.5" => false 

"53.5e93" => true 

"--6" => false 

"-+3" => false 

"95a54e53" => false 

**Note:** 

It is intended for the problem statement to be ambiguous. You should gather all requirements up fron before implementing one. However, here is a list of characters that can be in valid decimal number:

* Numbers 0-9

* Exponent - "e"

* Positive/negative sign - "+/-"

* Decimal point - "."

## 15. 3Sum

Given an array nums of n integers, are there elements a, b, c in nums such that a + b + c = 0? Find all unique triplets in the array which gives the sum of zero. 

**Note:**
The solution set must not contain duplicate triplets. 

**Example:**

Given array nums = [-1, 0, 1, 2, -1, -4],

A solution set is:

[

    [-1, 0, 1],
    
    [-1, -1, 2]
    
]

In [116]:
def threeSum(nums: list) -> list:
    
    if not nums:
        return []
    
    ans = set()
    
    def twoSum(A: list, t) -> list:
        if len(A) <= 1:
            return []
        
        ans = []
        
        i, j = 0, len(A) -1 
        
        while i < j:
            if A[i] + A[j] == t:
                ans.append((A[i], A[j]))
                i += 1
            elif A[i] + A[j] < t:
                i += 1
            else:
                j -= 1
        
        return ans
    
    nums.sort()
    print(nums)
    
    for i in range(len(nums)):
        if i > 0 and nums[i] == nums[i-1]:
            continue 
        twosumlist = twoSum( nums[i+1:], -nums[i])
        for b,c in twosumlist:
            new_list = (nums[i], b, c)
            print(new_list)
            ans.add(new_list)
    
    return list(ans)

In [117]:
nums = [-1, 0, 1, 2, -1, -4]

threeSum(nums)

[-4, -1, -1, 0, 1, 2]
(-1, -1, 2)
(-1, 0, 1)

[(-1, -1, 2), (-1, 0, 1)]

In [64]:
nums[:2]

[-4, -1]

In [65]:
nums[2:]

[-1, 0, 1, 2]

In [66]:
nums

[-4, -1, -1, 0, 1, 2]

In [67]:
nums[2]

-1

In [121]:
def threeSum2(nums: list) -> list:
    
    nums.sort()
    n = len(nums)
    ans = set()
    
    for i in range(n-2):
        if nums[i] > 0:
            break 
        if (i> 0 and nums[i] == nums[i-1]):
            continue
        l = i+1
        r = n-1
        
        while (l<r):
            if (nums[i] + nums[l] + nums[r] == 0):
                ans.add((nums[i], nums[l], nums[r]))
                l += 1
                r -= 1
                while (l < r and nums[l] == nums[l-1]):
                    l += 1
                while (l< r and nums[r] == nums[r+1]):
                    r -= 1 
            elif (nums[i] + nums[l] + nums[r] < 0):
                l += 1
            else:
                r -= 1
    return list(ans)

In [122]:
threeSum2(nums)

[(-1, -1, 2), (-1, 0, 1)]

Sorting + Two Pointers 

Time Complexity: O(n^2 + nlogn)

Space Complexity: O(1)

## 10. Regular Expression Matching 

Given an input string (s) and a pattern (p), implement regular expression matching with support for '.' and '*'. 

* '.' Matches any single character

* '*' Matches zero or more of the preceding element. 

The matching should cover the entire input string (not partial). 

**Note:**

* s could be empty and contains only lowercase letters a-z. 

* p could be empty and contains only lowercase letters a-z, and characters like '.' and '*'.

In [123]:
12//10

1

In [124]:
123//10

12

In [125]:
k = 0
number = 123

In [126]:
while number:
    number //=10
    k += 1

In [127]:
k

3

In [128]:
k % 2

1

In [129]:
count = 0

## 697. Degree of an Array

Given a non-empty array of non-negative integers nums. the degree of this array is defined as the maximum frequency of any one of its elements. 

Your task is to find the smallest possible length of a contiguous subarray of nums, that has the same degree as nums.

In [134]:
hash_set = {}

for i in nums:
    if i not in hash_set:
        hash_set[i] = 1
    else:
        hash_set[i] += 1

In [140]:
nums = [1,2,2,3,1]

In [135]:
print(hash_set)

{1: 2, 2: 2, 3: 1}

In [143]:
for i in hash_set:
    print(i)
    print(hash_set[i])

1
2
2
2
3
1

In [142]:
most_frequent(nums)

1

In [153]:
def findShortestSubarray(nums: list) -> int:
    
    hash_set = {}
    
    for i in nums:
        if i not in hash_set:
            hash_set[i] = 1
        else:
            hash_set[i] += 1
            
    print(hash_set)
            
    maxf = 0 
    
    maxe = []
    
    for i in hash_set:
        if hash_set[i] > maxf:
            maxf  = hash_set[i] 
            maxe = [i]
        elif hash_set[i] == maxf:
            maxe.append(i)
        
    print('maxe is ')
    print(maxe)
    
    for i in maxe:
        print(i)
        print(nums.index(i))

In [154]:
findShortestSubarray(nums)

{1: 2, 2: 2, 3: 1}
maxe is
[1, 2]
1
0
2
1

## 1281. Substract the Product and Sum of Digits of an integer

Given an integer number n, return the difference betwen the product of its digits and the sum of its digits. 

**Example 1:**

Input: n = 234

Output: 15 

Explanation: 

Product = 2*3*4 = 24 

Sum = 2 + 3 + 4 = 9

Result = 24 - 9 = 15

**Example 2:**

Input: n = 4421 

Output: 21 

Explanation: 

Product = 4 * 4 * 2 * 1 = 32 

Sum = 4+ 4+ 2+ 1 = 11 

Result = 32 - 11 = 21

In [1]:
321 % 10

1

In [2]:
def substractProductAndSum(n: int) -> int:
    
    digits = []
    prod = 1
    sum_ = 0 
    while n:
        digits.append(n%10)
        n //=10
    print(digits)
    for i in digits:
        prod *= i
        sum_ += i 
    return (prod - sum_)

In [3]:
substractProductAndSum(321)

[1, 2, 3]

0

In [4]:
substractProductAndSum(234)

[4, 3, 2]

15

In [5]:
substractProductAndSum(4421)

[1, 2, 4, 4]

21

## 12. Integer to Roman 

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M. 

I == 1

V == 5

X == 10

L == 50

C == 100

D == 500

M == 1000

For example, two is written as II in Roman numercal, just two one's added together. Twelve is written as, XII, which is simply X + II. The number twenty seven is written as XXVII, which is XX + V + II. 

Roman numercals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we substract it making four. The same priciple applies to the number nine, which is written as IX. There are six instances where substraction is used:

* I can be placed before V (5) and X (10) to make 4 and 9. 

* X can be placed before L (50) and C (100) t make 40 and 90. 

* C can be placed before D (500) and M (1000) to make 400 and 900. 

Given an integer, convert it to a roman numercal. Input is guaranteed to be within the range from 1 to 3999.

In [6]:
300 % 100

0

In [20]:
def intToRoman(num: int) -> str:
    intToRomanMap = {
        1000: "M",
        900 : "CM",
        500: "D",
        400: "CD",
        100: "C",
        90: "XC",
        50:"L",
        40:"XL",
        10:"X",
        9: "IX",
        5:"V",
        4:"IV",
        1:"I"        
    }
    
    roman = ""
    for key in intToRomanMap:
        while (num >= key):
            num -= key
            roman += intToRomanMap[key]
    return roman

In [21]:
intToRoman(3)

'III'

In [22]:
intToRoman(4)

'IV'

In [23]:
intToRoman(9)

'IX'

In [24]:
intToRoman(58)

'LVIII'

In [25]:
intToRoman(1994)

'MCMXCIV'

In [26]:
intToRoman(1995)

'MCMXCV'

## 13. Roman to Integer 

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, two is written as II in Roman numeral, just two one's added together. Twelve is written as, XII, which is simply X + II. The number twenty seven is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 
X can be placed before L (50) and C (100) to make 40 and 90. 
C can be placed before D (500) and M (1000) to make 400 and 900.
Given a roman numeral, convert it to an integer. Input is guaranteed to be within the range from 1 to 3999.

Example 1:

Input: "III"
Output: 3
Example 2:

Input: "IV"
Output: 4
Example 3:

Input: "IX"
Output: 9
Example 4:

Input: "LVIII"
Output: 58
Explanation: L = 50, V= 5, III = 3.
Example 5:

Input: "MCMXCIV"
Output: 1994
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.

In [27]:
s = "MCMXCIV"

s[:2]

'MC'

In [28]:
RomanToIntMap = {
    "M": 1000,
    "CM": 900,
    "D": 500,
    "CD": 400,
    "C": 100,
    "XC": 90,
    "L": 50,
    "XL": 40,
    "X": 10,
    "IX": 9,
    "V": 5,
    "IV": 4,
    "I": 1
}

In [33]:
s[1:3] in RomanToIntMap

True

In [30]:
RomanToIntMap["M"]

1000

In [32]:
RomanToIntMap[s[1:3]]

900

In [36]:
def romanToInt(s: str) -> int:
        RIMap = {
            "M": 1000,
            "CM": 900,
            "D": 500,
            "CD": 400,
            "C": 100,
            "XC": 90,
            "L": 50,
            "XL": 40,
            "X": 10,
            "IX": 9,
            "V": 5,
            "IV": 4,
            "I": 1
        }
        
        ans = 0
        n = len(s)
        i = 0 
        while i< n:
            if s[i:i+2] in RIMap:
                ans += RIMap[s[i:i+2]]
                i += 2
            else:
                ans += RIMap[s[i:i+1]]
                i += 1
        return ans

In [37]:
romanToInt("LVIII")

58

In [38]:
s = "MCMXCIV"

romanToInt(s)

1994

In [39]:
s = "IX"

romanToInt(s)

9