## 1218. Longest Arithmetic Subsequence of Given Difference 

Given an integer array arr and an integer difference, return the length of the longest subsequence in arr which is an arithmetic sequence such that the difference between adjacent elements in the subsequence equals difference. 

**Example 1:**

Input: arr = [1,2,3,4], difference = 1 

Output: 4 

Explanation: The longest arithmetic subsequence is [1,2,3,4]

**Example 2:**

Input: arr = [1,3,5,7], difference = 1

Output: 1 

Explanation: The longest arithmetic subsequence is any single element. 

**Example 3:** 

Input: arr = [1, 5, 7, 8, 5, 3, 4, 2, 1], difference = -2

Output: 4

Explanation: The longest arithmetic subsequence is [7,5,3,1]

In [13]:
def longestSubsequence(arr: list, difference: int) -> int:
    
    n = len(arr)
    
    if n == 0:
        return 0 
    
    dp = {}
    
    for i in arr:
        if i- difference in dp:
            dp[i] = dp[i- difference] + 1
        else:
            dp[i] = 1 
    
    
    print(dp)
    max_ = 0 
    for i in dp:
        max_ = max(max_, dp[i])
    return max_

In [14]:
arr = [1, 5, 7, 8, 5, 3, 4, 2, 1]

difference = -2

longestSubsequence(arr, difference)

{1: 4, 5: 2, 7: 1, 8: 1, 3: 3, 4: 1, 2: 2}

4

## 638. Shopping Offers

In LeetCode Store, there are some kinds of items to sell. Each item has a price. 

However, there are some special offers, and a special offer consists of one or more different kinds of items with a sale price. 

You are given the each item's price, a set of special offers, and the number we need to buy for each item. The job is to output the lowest price you have to pay for exactly certain items as given, where you could make optimal use of the speical offers. 

Each special offer is represented in the form of an array, the last number represents the price you need to pay for this special offer, other numbers represents how many specific items you could get if you buy this offer. 

You could use any of special offers as many times as you want. 

**Example 1:**

Input: [2, 5], [[3,0,5], [1,2,10], [3,2]]

Output: 14 

Explanation: 

There are two kinds of items, A and B. Their prices are $2 and $5 respectively. 

In special offer 1, you can pay $ 5 for 3A and 0B. In special offer 2, you can pay $ 10 for 1A and 2B. You need to buy 3A and 2B, so you may pay $ 10 for 1A and 2B (speical offer #2), and #4 for 2A. 


**Example 2:**

Input: [2,3,4], [[1,1,0,4], [2,2,1,9], [1,2,1]]

Output: 11

Explanation:

The price of A is $2, $3 for B and $4 for C.

You may pay $4 for 1A and 1B, and $9 for 2A, 2B and 1C. 

You need to buy 1A, 2B and 1C, so you may pay $4 for 1A and 1B (special offer #1), and $3 for 1B, $4 for 1C. 

You cannot add more items, though only $9 for 2A, 2B and 1C.

In [ ]:
def shoppingOffers(price: list, special: list, needs: list) -> int:

## 38. Count and Say

The count-and-say sequence is the sequence of integers with the first five terms as following:

1. 1

2. 11

3. 21

4. 1211

5. 111221

1 is read off as "one 1" or 11.

11 is read off as "two 1's" or 21. 

21 is read off as "one 2", then "one 1" or 1211. 

Given an integer n where 1 \leq n \leq 30, generate the nth term of the count-and-say sequence. You can do so recursively, in other words from the previous member read off the digits, counting the number of digits in groups of the same digit. 

Note: Each term of the sequence of integers will be represented as a string.

In [38]:
def countAndSay(n: int) -> str:
    
    if n == 1:
        return "1"
    
    s = countAndSay(n-1)
    
    m = len(s)
    count = 1 
    result = []
    print(m)
    
    for i in range(m):
        if  i+1 < m and s[i+1] == s[i]:
            count += 1
            print(count)
        elif i+1 <m and s[i+1] != s[i]:
            result.append(str(count))
            result.append(s[i])
            count = 1 
        elif i+1 ==m and s[i] == s[i-1]:
            result.append(str(count))
            result.append(s[i])
        else:
            count = 1 
            result.append(str(count))
            result.append(s[i])
    
    return ''.join(result)

In [39]:
countAndSay(2)

1

'11'

In [40]:
countAndSay(3)

1
2
2

'21'

In [41]:
countAndSay(1)

'1'

In [42]:
countAndSay(4)

1
2
2
2

'1211'

In [43]:
countAndSay(5)

1
2
2
2
4
2

'111221'

## 63. Unique Paths II

A robot is located at the top-left corner of a m \times n grid (marked 'Start' in the diagram below).

The robot can only move either down or right at any point in time. The robot is trying to reach the bottom-right corner of the grid (marked "Finish" in the diagram below). 

Now consider if some obstacles are added to the grids. How many unique paths would there be? 

**Example 1:**

Input: 
[
    [0,0,0],
    [0,1,0],
    [0,0,0]
]

Output: 2 

Explanation: 

There is one obstacle in the middle of the 3*3 grid above.

There are two ways to reach the bottom-right corner:

1. Right -> Right -> Down -> Down 

2. Down -> Down -> Right -> Right

In [ ]:
def uniquePathsWithObstacles(obstacleGrid: list) -> int:

## 1323. Maximum 69 Number 

Given a positive integer num consisting only of digits 6 and 9. 

Return the maximum number you can get by changing at most one digit (6 becomes 9 and 9 becomes 6). 

**Example 1:**

Input: num = 9669

Output: 9969

**Example 2:**

Input: num = 9996

Output: 9999

**Example 3:**

Input: num = 9999

Output: 9999

In [45]:
num = 9699

res = list(map(int, str(num)))

In [46]:
res

[9, 6, 9, 9]

In [61]:
def maximum69Number(num: int)-> int:
    
    res = list(str(num))
    
    for i in range(len(res)):
        if res[i] == '6':
            print('True')
            res[i] = '9'
            break
            
            
    return int("".join(res))

In [58]:
num = 9699

maximum69Number(num)

True

9999

In [59]:
num = 9999

maximum69Number(num)

9999

In [62]:
num = 9996

maximum69Number(num)

True

9999

## 313. Super Ugly Number 

Write a program to find the nth super ugly number. Super ugly numbers are positive numbers whose all prime factors are in the given prime list primes of size k. 

**Example:**

Input: n = 12, primes = [2, 7, 13, 19]

Output: 32

Explanation:

[1, 2, 4, 7, 8, 13, 14, 16, 19, 26, 28, 32] is the sequence of the first 12 super ugly numbers given primes = [2, 7, 13, 19] of size 4.